.idea
.log4brains/
build/ci/gitlab
build/ci/kafka
deployments/
docs/adr
docs/readme
target/
tyk-gateway-docker/
.adr-dir
.gitignore
.log4brains.yml
.tmp
kong.env
kong-quickstart.env
kong-quickstart.log
README.md
tyk.standalone.conf
.git/
.DS_Store