//
// Sidebar
//

// Sidebar base
.app-sidebar {
	flex-direction: column;

	// Scroll
	.hover-scroll-y {        
        //@include scrollbar-color(transparent, darken($app-sidebar-secondary-base-link-bg-color, 1%));
    }

	// Root links
	.app-sidebar-menu {
		align-items: stretch;
		justify-content: center;
		
		.menu {
			> .menu-item {
				display: flex;
				align-items: center;
				justify-content: center;				 

				> .menu-link {
					padding: 0;
					width: 44px;
					height: 44px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-shrink: 0;
					flex: 0 0 auto;
					@include border-radius($border-radius);			

					.menu-icon {
						i {
							line-height: 0;			
							font-size: 1.1rem;				 
						}	
					}	
				}

				@include menu-link-default-state( 
					$title-color: null,
					$icon-color: $gray-900-dark, 
					$bullet-color: null,
					$arrow-color: null,
					$bg-color: null,
					$all-links: false
				);
				
				@include menu-link-hover-state( 
					$title-color: null,
					$icon-color: $gray-900-dark, 
					$bullet-color: null,
					$arrow-color: null,
					$bg-color: null,
					$all-links: false
				);
				
				@include menu-link-show-state( 
					$title-color: null,
					$icon-color: $gray-900-dark,
					$bullet-color:null,
					$arrow-color: null,
					$bg-color: null,
					$all-links: false
				);
				
				@include menu-link-here-state( 
					$title-color: null,
					$icon-color: $gray-900-dark,
					$bullet-color: null,
					$arrow-color: null,
					$bg-color: $gray-100-dark,
					$all-links: false
				);

				@include menu-link-active-state( 
					$title-color: null,
					$icon-color: $gray-900-dark,
					$bullet-color: null,
					$arrow-color: null,
					$bg-color: $gray-100-dark,
					$all-links: false
				);
			}
		}
	}
}

// Desktop mode
@include media-breakpoint-up(lg) {
	.app-sidebar {
		display: flex;		
		margin-top: -1px;
		border-top: 1px solid $gray-100-dark;
	}

	.app-sidebar-logo {
		height: var(--#{$prefix}app-header-height);	
	}
}	

@include color-mode(dark) {
	// Desktop mode
	@include media-breakpoint-up(lg) {
		.app-sidebar {
			margin-top: 0;
			border-top: 0;
		}
	}	
}